!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip


# removing large R files
*.RData
*.rdb
*.rdx
*.RProj
__packages
*.rda
*.RDA
*.Rda
*.RDS
*.Rds
*.rds

# ignore saved data folder
*/saved_data/
Mao/saved_data/
saved_data/
saved_data/*

# remove csv files
*.csv
*.tsv
*.zip
*.tgz
*.json
*.pkl
*.dat

# remove rmd cache folders

*_cache/
*_cache/html/*
*_cache/*

# remove movieLens data files

ml-100k/*
*ml-*/*
*JINhuaqing_paper_code*/*
JINhuaqing_paper_code/
*MNAR/*
MNAR/

